.App {
  position: relative;
  text-align: center;
  height: 100%;
}

#advertisements {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-left: -15px;
  background-color: lightgreen;
}