#keyboardArea {
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 50%;
}

#keyboardArea .keyboard-tile {
    border: solid 1px black;
    display: inline-block;
    width: 2.5em;
    height: 2.85em;
    padding: 10px;
    margin: 5px;
}

.keyboard-tile.chosen {
    background-color: rgba(130, 130, 130, 0.65);
}

.disabled {
    background-color: lightgray;
    opacity: 0.5;
}