#solution-area {
    text-align: center;
    margin-top: 2rem;
}

.letter-tile {
    display: inline-block;
    border-bottom: solid 2px black;
    height: 1.5em;
    width: 1.5em;
    margin: 3px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    color: black;
}
.letter-tile.revealed {
    opacity: 60%;
}