#secret-word {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.letter-tile {
    display: inline-block;
    border-bottom: solid 2px black;
    height: 1.5em;
    width: 1.5em;
    margin: 3px;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    color: black;
}
.letter-tile.revealed {
    color: red;
    background-color: lightgray;
}